<h1>Utilisateurs importés</h1>
<h3>Sans erreur</h3>
<table class="table table-striped">
  <tr>
    <th>Prénom</th>
    <th>Nom</th>
    <th>Email</th>
  </tr>
  <% @users[0].each do |user| %>
    <tr>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.email %></td>
    </tr>
  <% end %>
</table>
<h3>Avec erreur(s)</h3>
<table class="table table-striped">
  <tr>
    <th>Prénom</th>
    <th>Nom</th>
    <th>Email</th>
    <th>Erreur(s)</th>
  </tr>
  <% @users[1].each do |user| %>
    <tr>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.email %></td>
      <td><%= user.error_message %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'Accueil', root_path, class: 'btn btn-primary' %>